@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,300;0,500;0,800;1,500&display=swap");
body {
  background: #B91646;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row;
  min-height: 100vh;
  perspective: 500rem;
  overflow: hidden;
  position: relative;
}

* {
  box-sizing: border-box;
  color: #aaaaaa;
  font-family: "Montserrat Alternates", sans-serif;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

[id*=app] {
  transform: rotateY(0deg);
  transition: all ease 1000ms, box-shadow 0ms ease;
  border-radius: 0.6rem;
  background: #B91646;
  box-shadow: 8px 8px 36px #a7143f, -8px -8px 36px #cc184d;
  height: 32rem;
  width: 25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row;
  padding: 1.2rem;
  transform: rotateY(0deg);
  transform-style: preserve-3d;
}
[id*=app] > * {
  border-radius: 0.8rem;
  transform-style: preserve-3d;
  height: 32rem;
  width: 25rem;
  padding: 1rem;
  transition: all ease 1000ms;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-flow: column;
  position: absolute;
  background: rgba(0, 0, 0, 0.09);
}
[id*=app] > * > * {
  transform: translate3d(0, 0, 1rem);
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: row wrap;
  gap: 1rem;
}

.front {
  transform: rotateY(0deg) translate3d(0, 0, 0.5rem);
}
.front > * {
  padding: 0.5rem 0.8rem;
}
.front h3 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row;
  padding: 0.2rem 0.1rem;
  border-bottom: 2px solid #DFD8CA;
}
.front form {
  border-radius: 0.4rem;
  background: transparent;
  box-shadow: inset 5px 5px 6px #981239, inset -5px -5px 6px #b21643;
}
.front .headie {
  width: 20rem;
  text-align: center;
}
.front div {
  border-radius: 0.4rem;
  background: transparent;
  box-shadow: inset 5px 5px 6px #981239, inset -5px -5px 6px #b21643;
}
.front div label {
  cursor: pointer;
  text-decoration: line-through;
  text-decoration-thickness: 0.9px;
  transition: all 400ms ease;
}
.front div input {
  position: absolute;
  display: none;
  height: 0;
  width: 0;
}
.front div .tick {
  background: #DFD8CA;
  height: 1rem;
  width: 1rem;
  border-radius: 0.2rem;
  transition: all 300ms ease-in;
  cursor: pointer;
  position: relative;
}
.front div .tick:hover {
  background: rgba(0, 0, 0, 0.08);
}
.front div .tick:after {
  content: " ";
  display: none;
  transition: all ease-in 400ms;
  position: absolute;
  left: 4px;
  top: 1px;
  width: 4px;
  height: 8px;
  border: solid #105652;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.front button {
  width: fit-content;
  border-radius: 0.6rem;
  border: 0;
  outline: 0;
  height: fit-content;
  font-size: 0.8rem;
  padding: 0.8rem 1rem;
  text-align: center;
  background: #DFD8CA;
  color: #105652;
  cursor: pointer;
  transition: all 100ms ease-out;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}
.front button > * {
  color: #105652;
}
.front button i {
  transition: all 400ms ease;
}
.front button:hover i {
  transform: translate3d(-8px, 0, 0);
}
.front button:hover {
  border-radius: 0.4rem;
  background: transparent;
  box-shadow: inset 5px 5px 6px #981239, inset -5px -5px 6px #b21643;
  color: #DFD8CA;
}
.front button:hover > * {
  color: #DFD8CA;
}

.back {
  transform: rotateY(180deg) translate3d(0, 0, 0.5rem);
}
.back button {
  width: fit-content;
  border-radius: 0.6rem;
  border: 0;
  outline: 0;
  height: fit-content;
  font-size: 0.8rem;
  padding: 0.8rem 1rem;
  text-align: center;
  background: #DFD8CA;
  color: #105652;
  cursor: pointer;
  transition: all 100ms ease-out;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}
.back button > * {
  color: #105652;
}
.back button i {
  transition: all 400ms ease;
}
.back button:hover i {
  transform: translate3d(-8px, 0, 0);
}
.back button:hover {
  border-radius: 0.4rem;
  background: transparent;
  box-shadow: inset 5px 5px 6px #981239, inset -5px -5px 6px #b21643;
  color: #DFD8CA;
}
.back button:hover > * {
  color: #DFD8CA;
}
.back .output-wrap {
  position: relative;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-flow: column;
  background: #DFD8CA;
  border-radius: 0.5rem;
  padding: 0.8rem 1rem;
  border: 1px solid #DFD8CA;
  height: 40%;
}
.back .output-wrap button {
  align-self: flex-end;
  width: fit-content;
  border-radius: 0.3rem;
  border: 0;
  outline: 0;
  height: fit-content;
  font-size: 0.8rem;
  padding: 0.8rem 1rem;
  text-align: center;
  background: #cb194c;
  cursor: pointer;
  color: #FBF3E4;
  font-weight: bolder;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}
.back .output-wrap input {
  background: transparent;
  font-size: 0.9rem;
  border: 0;
  outline: 0;
  padding: 0.8rem 1rem;
}

.flip {
  transform: rotateY(180deg);
  box-shadow: -8px -8px 36px #a7143f, 8px 8px 36px #cc184d;
}

label:hover ~ span {
  background: rgba(0, 0, 0, 0.08);
}

input:checked ~ label {
  text-decoration: none;
}

input:checked ~ .tick:after {
  display: block;
}

footer {
  position: absolute;
  align-self: flex-end;
  padding: 1rem 0.5rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row;
  width: 100vw;
}
footer > * {
  padding: 0.8rem 0.5rem;
}

input[type=number] {
  border-radius: 1rem;
  padding: 0.5rem 0.5rem;
  border: 0;
  outline: 0;
  font-size: 0.8rem;
  background: rgba(251, 243, 228, 0.8);
  color: #105652;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

input[type=range] {
  -webkit-appearance: none;
  border-radius: 1rem;
}
input[type=range]::-webkit-slider-runnable-track {
  border-radius: 0.4rem;
  background: #105652;
  box-shadow: -2px -2px 5px #981239, 2px 2px 5px #b21643;
  transition: all 400ms ease;
  width: 7rem;
  height: 0.4rem;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: #DFD8CA;
  border-radius: 0.1rem;
  margin-top: -0.27rem;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  cursor: pointer;
}

.alertDone {
  position: absolute;
  height: 12rem;
  border-radius: 0.5rem;
  width: 20.5rem;
  top: 77px;
  z-index: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row;
  transition: all ease 500ms;
  opacity: 0;
  background: #9fe6a0;
}

.copyAlert {
  z-index: 10;
  opacity: 1;
}

.alert {
  animation: alert 50ms ease;
  animation-iteration-count: 5;
}
@keyframes alert {
  0%, 50%, 100% {
    transform: translate3d(-3px, 0, 0);
  }
  5%, 10%, 15%, 20%, 25%, 30%, 35%, 40% {
    transform: translate3d(3px, 0, 0);
  }
  45% {
    transform: translate3d(-1.8px, 0, 0);
  }
  7.5%, 12.5%, 17.5%, 22.5%, 27.5%, 32.5%, 37.5%, 42.5% {
    transform: translate3d(2.2px, 0, 0);
  }
  47.5% {
    transform: translate3d(-3px, 0, 0);
  }
}
